html {
  font-size: 18px;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

body {
  color: #333;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-feature-settings : "palt";
  font-size: inherit;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 ,h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px dashed #cfd8dc;
  margin: 1rem 0;
}

p {
  margin: 0;
  line-height: 1rem;
}

a {
  color: #2196f3;
  text-decoration: none;
  transition-duration: .3s;
}

ul, ol {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

th, td {
  font-size: .8rem;
  padding: .5rem;
}

tr {
  border-bottom: 1px dashed #ddd;
}

/* Layouts */
main,
aside {
  display: block;
}

main {
  padding-bottom: 3rem;
}
aside.h { padding: 3rem 0; }

main.f,
aside.f {
  background-color: #333;
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
}

.l-container {
  position: relative;
  margin: 0 auto;
  padding: 0 10%;
}

.l-container.thin {
  max-width: 44rem;
}

.l-header {
  background-color: #24292e;
  color: #eceff1;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  padding: 1rem;
}

.l-header._page {
  background-color: rgba(36, 41, 46, 0.84);
  position: absolute;
  width: 100%;
}

.l-header a,
.l-header a:visited {
  color: #eceff1;
}

.logo a {
  font-family: Ubuntu, Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}

.l-footer {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  padding: 1rem 0;
  text-align: center;
}

.contact-list {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}

.contact-list li {
  display: inline;
}

.contact-list li::after {
  content: ' ::';
  padding: 0 7px;
}

.contact-list li:last-child::after {
  display: none;
}

.contact-list a,
.contact-list a:visited {
  color: #333333;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .l-sidebar {
    margin-top: 4rem;
  }
}

.mrow {
  margin: 0 -1rem;
  overflow: hidden;
}

.mcol {
  box-sizing: border-box;
  float: left;
  padding: 0 1rem;
}

.c6 { width: 50%; }
.c4 { width: 33.26323833%; }
.c8 { width: 66.66666%; }

@media (max-width: 768px) {
  .mcol {
    width: 100%;
    float: none;
  }
}

.h-logo {
  font-family: Ubuntu, Helvetica, Verdana, sans-serif;
}

.articles {
  margin: 0;
  margin-bottom: 1rem;
}

.articles.sm {
  margin: -.5rem 0;
  margin-bottom: 0;
}

article {
  overflow: hidden;
}

article.li {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  overflow: hidden;
  margin: 1rem 0;
}

article.li > a {
  display: block;
  color: #333;
  position: relative;
}

article.li .inner {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 50px;
}

article.li .thumb {
  height: 600px;
}

article.li .title {
  color: #333;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: .5rem;
}

article.li .summary {
  font-size: .8rem;
  height: 6rem;
  overflow: hidden;
  margin-top: 1rem;
}

article.lism {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  margin: .5rem 0;
}

article.lism::after {
  content: '';
  display: block;
  clear: both;
}

article.lism > a {
  display: block;
  color: #333;
}

article.lism .inner {
  display: table-cell;
  vertical-align: middle;
  height: 5rem;
  padding-left: .5rem;
}

article.lism .thumb {
  width: 5rem;
  height: 5rem;
  float: left;
}

article.lism .title {
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: .25rem;
}

article.sn {
  background-color: #fff;
  margin-bottom: 1rem;
}

article.sn .thumb {
  height: 1000px;
  background-position: center;
}

@media (max-width: 768px) {
  article.sn .thumb {
    height: 300px;
  }
}

article.sn > .article-header,
article.sn > .article-body,
article.sn .article-footer {
  padding: 2rem 0;
}

article.sn > .article-body {
  padding: 0;
  font-size: 20px;
  line-height: 1.58em;
}

@media (max-width: 768px) {
  article.sn > .article-header,
  article.sn > .article-body,
  article.sn .article-footer {
    padding: 1rem 0;
  }
}


article.sn > .article-header .title {
  font-family: Ubuntu, Helvetica, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: .5rem;
}

@media (max-width: 768px) {
  article.sn > .article-header .title {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

article.sn > .article-header .facts {
  margin-bottom: 1rem;
}

article.sn > .article-body {
  margin-bottom: 1.5rem;
}

article.sn > .article-body h2 {
  font-family: 700 50px/1 'PT Sans Narrow',sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1.5rem 0;
  padding: .5rem 0;
}

article.sn > .article-body h3 {
  border-left: .5rem solid #333;
  line-height: 1.5rem;
  margin: 1.5rem 0;
  padding: .125rem .5rem;
}

article.sn > .article-body ul,
article.sn > .article-body ol {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
}

article.sn > .article-body li {
  padding-bottom: .5rem;
  line-height: 1.5rem;
}

article.sn > .article-body li:last-child {
  padding-bottom: 0;
}
article.sn > .article-body p,
article.sn > .article-body .p {
  margin: 1rem 10%;
  line-height: 1.5rem;
}

article.sn > .article-body > p,
article.sn > .article-body > .p {
  position: relative;
}

article.sn > .article-body figcaption {
  line-height: 1.2em;
}

article.sn > .article-body > .with-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
}

article.sn > .article-body > .with-aside > .main {
  width: calc(73% - 14px);
}

article.sn > .article-body > .with-aside > .main figure {
  margin: 0 0 1.5rem 0;
}

article.sn > .article-body > .with-aside > .main div:not(:empty) + figure {
  margin: 1.5rem 0;
}

article.sn > .article-body > .with-aside > .aside {
  width: calc(27% - 14px);
}

article.sn > .article-body > .with-aside > .aside figure {
  margin: 0 0 0.5rem 0;
}


article.sn > .article-body .permalink {
  position: absolute;
  color: rgba(150, 150, 150, 0.7);
  right: -50px;
  top: 0;
  cursor: pointer;
}

article.sn > .article-body p + p,
article.sn > .article-body figure + p,
article.sn > .article-body .p + .p,
article.sn > .article-body figure + .p,
article.sn > .article-body .map-container + .p {
  margin-top: 3rem;
}

article.sn > .article-header {
  margin: 0 10%;
}
article.sn .article-footer {
  padding: 2rem 10%;
}

@media (max-width: 768px) {
  article.sn > .article-body p,
  article.sn > .article-body .p {
    margin: 1rem 4%;
  }

  article.sn > .article-header {
    margin: 0 4%;
  }

  article.sn .article-footer {
    padding: 2rem 4%;
  }
}

article.sn > .article-body strong,
article.sn > .article-body em {
  font-style: normal;
  font-weight: 700;
}

article.sn > .article-body strong {
  box-shadow: 0 -.5rem 0 0 #ffc107 inset;
}

article.sn > .article-body em {
  color: #8bc34a;
}

article.sn > .article-body code,
article.sn > .article-body pre {
  font-family: Menlo, Consolas, monospace;
  font-size: .7rem;
}

article.sn > .article-body pre {
  background-color: #333;
  color: #fff;
  line-height: 1rem;
  white-space: normal;
  overflow: auto;
}

@media (max-width: 768px) {
  article.sn > .article-body pre {
    margin: 1.5rem -1rem;
  }
}

article.sn > .article-body pre > code {
  display: block;
  padding: 1rem 2rem;
}

@media (max-width: 768px) {
  article.sn > .article-body pre > code {
    padding: 1rem;
  }
}

article.sn > .article-body p code,
article.sn > .article-body .p code {
  background-color: #eceff1;
  color: #333;
  border-radius: 4px;
  margin: 0 .25rem;
  padding: .375rem;
  white-space: nowrap;
}

article.sn > .article-body blockquote {
  position: relative;
  border-left: .25rem solid #333;
  font-size: .8rem;
  line-height: 18px;
  padding: .125rem 1rem;
  margin: 1.5rem 0;
}

@media (max-width: 768px) {
  article.sn > .article-body blockquote {
    font-size: 1rem;
  }
}

article.sn > .article-body blockquote p,
article.sn > .article-body blockquote .p {
  margin: .5rem 0;
  line-height: 1rem;
}

article.sn > .article-body figure {
  margin: 1.5rem 10%;
  max-width: 100%;
}

article.sn > .article-body figure.full {
  margin: 1.5rem 0;
  text-align: center;
}

article.sn > .article-body figure.full > img {
  width: 100%;
}

article.sn > .article-body figure.full figcaption {
  margin: 5px 10% 0;
  text-align: left;
}

article.sn > .article-body figure.aside {
  float: right;
  margin: 0 2rem 1.5rem;
}

article.sn > .article-body .slick figure {
  margin: inherit;
}

article.sn > .article-body figure.aside-svg > img {
  width: 595px;
}

article.sn > .article-body p + figure,
article.sn > .article-body .p + figure {
  margin-top: 0;
}

article.sn > .article-body figure img,
article.sn > .article-body figure amp-img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  max-width: 100%;
  display: block;
}

article.sn > .article-body figcaption {
  color: #737a7e;
  font-size: .9rem;
  margin-top: 9px;
}

.grid-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
  margin-bottom: 3em;
}

article.sn > .article-body .grid-gallery > figure {
  display: inline-block;
  margin: 0 0 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
}

article.sn > .article-body .grid-gallery > figure.img-item__hidden {
  display: none;
}


article.sn > .article-body .grid-gallery > figure > figcaption {
  padding-left: 4px;
}

article.sn > .article-body .grid-gallery > figure > a {
  cursor: zoom-in;
}

@media screen and (min-width: 1200px) {
  article.sn > .article-body .grid-gallery:not(.split_2) > figure {
    width: calc(33.3333% - 6px);
  }
}

@media screen and (min-width: 1600px) {
  article.sn > .article-body .grid-gallery:not(.split_3):not(.split_2) > figure {
    width: calc(25% - 6px);
  }
}

.grid-gallery > figure img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
}

.fotorama__nav {
  text-align: left;
}

@media (max-width: 768px) {
  article.sn > .article-body figure {
    margin: 1.5rem 4%;
  }
}

.facts li {
  display: inline;
  font-size: .8rem;
  margin-right: 1rem;
}

.facts i {
  color: #cfd8dc;
  margin-right: .5em;
}

.facts.sm li {
  font-size: .7rem;
}

.sections.sidebar {
  margin: -1rem 0;
}

.sections.footer {
  margin: -1rem 0;
}

section.sidebar {
  margin: 2rem 0;
}

section.sidebar > header {
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  margin: 1.5rem 0;
}

section.footer {
  margin: 1rem 0;
}

section.footer > header {
  font-size: .8rem;
  margin: .5rem 0;
}

section.footer > header::before {
  content: "- ";
}

section.footer > header a {
  font-weight: 700;
  color: #333;
  text-decoration: underline;
}

.terms {
  margin: -.25rem;
}

.terms li {
  display: inline-block;
}

.terms a {
  display: block;
  float: left;
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  font-size: .7rem;
  margin: .25rem;
  padding: 0 .75rem;
  line-height: 1.75rem;
}

.paging {
  text-align: center;
  padding: 1rem 0;
}

.paging a {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  border-radius: 4px;
  color: #333;
  padding: 0 1rem;
  line-height: 3rem;
}

.page-title {
  text-align: center;
  margin: 1rem 0;
}

.page-title::after {
  content: '';
  display: block;
  border-bottom: .25rem solid #333;
  width: 3rem;
  margin: 1.5rem auto;
}

.page-title > .title {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* Parts:breadcrumb */
.crumb ol {
  text-overflow: ellipsis;
  color: #cfd8dc;
  white-space: nowrap;
  overflow: hidden;
}

.crumb li {
  display: inline;
  font-size: .8rem;
}

.crumb li::after {
  content: '›';
  margin: 0 .25rem 0 .5rem;
}

.crumb li:last-child::after {
  content: '';
}

.crumb a {
  color: #cfd8dc;
}

.crumb i {
  margin-right: .5em;
}

.share {
  padding: 0;
}

.share a {
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
  min-width: 1rem;
  height: 2rem;
  border-radius: 4px;
  color: #333;
  font-size: .8rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  padding: 0 .5rem;
}

.adj article.lism {
  margin-bottom: 1rem;
}

.adj header {
  font-weight: 700;
  font-size: .8rem;
}

.toc {
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .toc {
    padding: 0 1rem;
  }
}

.toc {
  margin: 1rem 0;
}

.toc nav>ul {
  background-color: #eceff1;
  border-radius: 4px;
  display: inline-block;
  font-size: .8rem;
  padding: .5rem 1rem;
  word-break: break-all;
  list-style: none;
}

.toc ul {
  padding: 0;
}

.toc ul ul {
  padding-left: 1rem;
}

.toc ul ul ul {
  padding-left: 1rem;
}

.toc li {
  color: #90a4ae;
}

.toc ul ul>li {
  font-weight: 700;
  margin: .5rem 0;
  list-style-type: decimal;
}

.toc ul ul ul>li {
  list-style-type: disc;
  font-weight: 500;
}

.thumb {
  background-image: url(../images/default.jpg);
  background-size: cover;
}

.empty-thumb {
  
}

.w700 > img {
  width: 700px;
}

.back-image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.back-image p,
.back-image .p {
  background-color: #fff;
}

.map {
  height: 60vh;
  margin: 1.5em 10%;
  min-height: 700px;
}

.not-found {
  text-align: center;
  font-size: 50px;
  line-height: 1.2;
  padding: 50px 0 0;
}

/*
opacity .5s cubic-bezier(.455,.030,.515,.955),transform .5s cubic-bezier(.455,.030,.515,.955)
 */






